<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/logo.png">
    <title>Academic Life Assistance and Guidance</title>
    <!-- chartist CSS -->
    <link href="/static/js/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="/static/js/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <!-- This page CSS -->
    <link href="/static/js/raty-js/lib/jquery.raty.css" rel="stylesheet">
  
    
</head>

<body>

    <div class="main-wrapper" id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="loader">
                <div class="loader__figure"></div>
                <p class="loader__label">Academic Life Assistance and Guidance</p>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <header class="topbar">
            <!-- ============================================================== -->
            <!-- Navbar scss in header.scss -->
            <!-- ============================================================== -->
            <nav class="light-blue">
                <div class="nav-wrapper light-blue">
                    <!-- ============================================================== -->
                    <!-- Home Button -->
                    <!-- ============================================================== -->
                    <ul>
                        <li class="home">
                            <a href="/student"><i class="material-icons">home</i></a>
                        </li>
                        
                    </ul>

                    <ul class="right">
                   
                        <!-- ============================================================== -->
                        <!-- Profile Information -->
                        <!-- ============================================================== -->
                          
                        <li><a class="dropdown-trigger" href="javascript: void(0);" data-target="user_dropdown"><img src="/static/images/users/profile.png" alt="user" class="circle profile-pic"></a>
                            <ul id="user_dropdown" class="mailbox dropdown-content dropdown-user">
                                <li>
                                    <div class="dw-user-box">
                                        <div class="u-img"><img src="/static/images/users/profile.png" alt="user"></div>
                                        <div class="u-text">
                                            <h4>{{username}}</h4>
                                            <p>{{email}}</p>
                                            <a href="#modal13" class="waves-effect waves-light btn-small red white-text modal-trigger">View Profile</a>
                                        </div>
                                    </div>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#modal12" class="modal-trigger"><i class="material-icons">account_circle</i> My Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#modal11" class="modal-trigger"><i class="material-icons">settings</i> Account Setting</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="/logout"><i class="material-icons">power_settings_new</i> Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!--Account Settings modal-->
                    <div id="modal11" class="modal light-blue darken-4" style="width: 400px;">
                        <div class="modal-content">
                            <div class="card">
                                <div class="card-content">
                                    <form class="" method="post">
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="password" type="password" class="validate" required>
                                                <label for="password">Enter your current password</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="input-field col s12">
                                                <input id="password" type="password" class="validate" required>
                                                <label for="password">Enter your new password</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <button class="btn waves-effect waves-light red right" type="submit"
                                                name="action" style="margin-top: 10px;">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--My Profile Modal-->
                    <div id="modal12" class="modal light-blue darken-4" style="width: 400px;">
                        <div class="modal-content">
                            <div class="card">
                                <div class="card-content center">
                                    <img src="/static/images/users/profile.png" alt="profile"
                                        style="height: 200px; width: 200px;">
                                    <div onclick="importData()" class="btn btn-floating btn-large red accent-3"
                                        style="margin: -170px 0px -125px -50px">
                                        <i class="material-icons">edit</i>
                                    </div>
                                    <div class="row" style="margin-top: -30px;">
                                        <input id="profileName" type="text" value="{{username}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--View Profile Modal-->
                    <div id="modal13" class="modal light-blue darken-4" style="width: 400px;">
                        <div class="modal-content">
                            <div class="card">
                                <div class="card-content center">
                                    <img src="/static/images/users/profile.png" alt="profile"
                                        style="height: 200px; width: 200px;">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- Right topbar icon scss in header.scss -->
                    <!-- ============================================================== -->
                </div>
            </nav>
            <!-- ============================================================== -->
            <!-- Navbar scss in header.scss -->
            <!-- ============================================================== -->
        </header>

        <!-- ============================================================== -->
        <!-- FOR ADMIN PANEL -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <div class="page-wrapper" style="margin-left: unset !important;">
            <!-- ============================================================== -->
            <!-- Title and breadcrumb -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- Container fluid scss in scafholding.scss -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                
                <!-- ============================================================== -->
                <!-- Subject filter -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col l6 m20 s6">
                        <div class="card">
                            <div class="card-content">
                                <label>Choose the Semester</label>
                                <select class="input-field" style="width: 100px;">
                                    <option value="0" disabled selected>--Select your option--</option>
                                    <option value="1">Semester 01</option>
                                    <option value="2">Semester 02</option>
                                    <option value="3">Semester 03</option>
                                    <option value="4">Semester 04</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col l6 m20 s6">
                        <div class="card">
                            <div class="card-content">
                                <label>Choose the Subject</label>
                                <select class="input-field" style="width: 100px;">
                                    <option value="0" disabled selected>--Select your option--</option>
                                    <option value="1">Language Processor</option>
                                    <option value="2">Data warehouse and mining</option>
                                    <option value="3">Mobile computing</option>
                                    <option value="4">Tcp/Ip</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
               <!-- ============================================================== -->
            <!-- Table -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <h4 class="card-title">Recommended Books</h4>
                                <h6 class="card-subtitle"></h6>
                                <div class="table-responsive">
                                    <table id="demo-foo-addrow2" class="table m-t-10 highlight toggle-circle" data-page-size="10">
                                        <thead>
                                            <tr>
                                                <th>Subject</th>
                                                <th>Book Name</th>
                                                <th>Author</th>
                                                <th>Branch</th>
                                                <th>Year</th>
                                                <th>Semester</th>
                                                <th>Recommended by</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for row in value %} 
                                            <tr>
                                               <td>{{row[0]}}</td>
                                               <td>{{row[1]}}</td>
                                               <td>{{row[3]}}</td>
                                               <td>{{row[4]}}</td>
                                               <td>{{row[5]}}</td>
                                               <td>{{row[6]}}</td>
                                               <td>{{row[2]}}</td>
                                            </tr>   
                                            {% endfor %}
                                            <!-- <tr>
                                                <td>1</td>
                                                <td>
                                                    <div class="chip">
                                                        <img src="/static/images/book1.jpg" alt="book 1">Book1
                                                    </div>
                                                </td>
                                                <td>Author 1</td>
                                                <td>450/-</td>
                                                <td><div id="read-only-stars"></div></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>
                                                    <div class="chip">
                                                        <img src="/static/images/book2.jpg" alt="book 2"> Book 2
                                                    </div>
                                                </td>
                                                <td>Author 2</td>
                                                <td>750/-</td>
                                                <td><div id="read-only-stars1"></div></td>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>
                                                    <div class="chip">
                                                        <img src="/static/images/book3.jpg" alt="book 3">Book 3
                                                    </div>
                                                </td>
                                                <td>Author 3</td>
                                                <td>490/-</td>
                                                <td><div id="read-only-stars2"></div></td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>
                                                    <div class="chip">
                                                        <img src="/static/images/book4.jpg" alt="book 4">Book 4
                                                    </div>
                                                </td>
                                                <td>Author 4</td>
                                                <td>480/-</td>
                                                <td><div id="read-only-stars3"></div></td>
                                            </tr> -->
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            </div>
            <!-- ============================================================== -->
            <!-- Footer -->
            <!-- ============================================================== -->
            <footer class="page-footer light-blue darken-3"> 
                <span class="right">©2023 All rights reserved by ALAG</span>
                <!--<a class="White-text  right" href="#!">More Links</a>-->
                <a href="#" class="btn indigo darken-1 tooltipped btn-floating" data-position="top" data-tooltip="Facebook"><i class="fab fa-facebook-f"></i></a> 
                <a href="#" class="btn pink darken-2 tooltipped btn-floating " data-position="top" data-tooltip="Instagram"><i class="fab fa-instagram"></i></a>
                <a href="#" class="btn green lighten-2 tooltipped btn-floating " data-position="top" data-tooltip="Whatsapp"><i class="fab fa-whatsapp"></i></a>
                <a href="#" class="btn light-blue tooltipped btn-floating " data-position="top" data-tooltip="Twitter"><i class="fab fa-twitter"></i></a>
            </footer>
        </div>
        <!-- ============================================================== -->
        <!-- Page wrapper scss in scafholding.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->

        <a href="#" data-target="right-slide-out"
            class="sidenav-trigger right-side-toggle btn-floating btn-large waves-effect waves-light light-blue darken-4"><i class="material-icons">settings</i></a>
        <aside class="right-sidebar">
            <!-- Right Sidebar -->
            <ul id="right-slide-out" class="sidenav right-sidenav p-t-10">
                <li>
                    <div class="row">
                        <div class="col s12">
                        </div>
                        <!-- Setting -->
                        <div id="settings" class="col s12">
                            <div class="m-t-10 p-10 b-b">
                                <h4 class="font-medium">Settings</h4>
                                <ul class="m-t-15">
                                    <li class="m-b-10">
                                        <div class="switch">
                                            <label>
                                                <input checked type="checkbox" name="theme-view" id="theme-view" />
                                                <span class="lever"></span>
                                                <span>Dark Theme</span>
                                            </label>
                                        </div>
                                    </li>
                                    <br>
                                    <li class="m-b-10">
                                        <h4><span class="font-medium">Help</span></h4>
                                        <ul class="collapsible expandable collapsible-dark">
                                            <li>
                                                <div class="collapsible-header"><i
                                                        class="material-icons">question_answer</i>Question1?</div>
                                                <div class="collapsible-body"><span>This is the default answer to this
                                                        question.</span></div>
                                            </li>
                                            <li>
                                                <div class="collapsible-header"><i
                                                        class="material-icons">question_answer</i>Question2?</div>
                                                <div class="collapsible-body"><span>This is the default answer to this
                                                        question.</span></div>
                                            </li>
                                            <li>
                                                <div class="collapsible-header"><i
                                                        class="material-icons">question_answer</i>Question3?</div>
                                                <div class="collapsible-body"><span>This is the default answer to this
                                                        question.</span></div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </aside>
        <div class="chat-windows"></div>
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/materialize.min.js"></script>
    <script src="/static/js/perfect-scrollbar.jquery.min.js"></script>
    <!-- ============================================================== -->
    <!-- Apps -->
    <!-- ============================================================== -->
    <script src="/static/js/app.js"></script>
    <script src="/static/js/app.init.mini-sidebar.js"></script>
    <script src="/static/js/app-style-switcher.js"></script>
    <!-- ============================================================== -->
    <!-- Custom js -->
    <!-- ============================================================== -->
    <script src="/static/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script src="/static/js/chartist/dist/chartist.min.js"></script>
    <script src="/static/js/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
    <script src="/static/js/sparkline.js"></script>
    <script src="/static/js/dashboard1.js"></script>
    <script src="/static/js/raty-js/lib/jquery.raty.js"></script>
    <script src="/static/js/raty/rating-init.js"></script>
       
    <script>
        $('.tooltipped').tooltip();
        // ============================================================== 
        // Login and Recover Password 
        // ============================================================== 
        $('#to-recover').on("click", function () {
            $("#loginform").slideUp();
            $("#recoverform").fadeIn();
        });
        $(function () {
            $(".preloader").fadeOut();
        });

        function importData() {
            let input = document.createElement('input');
            input.type = 'file';
            input.accept = 'image/*';
            input.onchange = _ => {
                // you can use this method to get file and perform respective operations
                let files = Array.from(input.files);
                console.log(files);
            };
            input.click();

        }
    </script>
    
</body>

</html>