<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/logo.png">
    <title>Academic Life Assistance and Guidance</title>
    <!-- chartist CSS -->
    <link href="/static/css/style.css" rel="stylesheet">
    <!-- This page CSS -->
    <link href="/static/css/dashboard1.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="htts://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

        .backgroundz {
            background: linear-gradient(45deg, rgb(74, 10, 79) 50%, white 50%);
        }
        .onesideround {
            border-top-right-radius: 64px;
            border-bottom-right-radius: 64px;
            background-color: black;
        }
    </style>
</head>

<body>

    <div class="main-wrapper backgroundz" id="main-wrapper" style="background-color: black;">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="preloader">
            <div class="loader">
                <div class="loader__figure"></div>
                <p class="loader__label">Academic Life Assistance and Guidance</p>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->


        <div class="page-wrapper" style="margin-left: unset !important;">
            <!-- ============================================================== -->
            <!-- Title and breadcrumb -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- Container fluid scss in scafholding.scss -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Background -->
                <!-- ============================================================== -->
                <div class="right">
                    <a href="javascript:void(0)">
                        <span class="icon">
                            <img class="light-logo" src="/static/images/logo light.png" style="height: 64px; width: 200px; margin-top: -25px;">
                        </span>
                    </a>
                </div>
                
                <div class="row">
                    <div class="row"> <a href="/login" class="btn onesideround" style="margin-left: -20px; width: 92px;">LOGIN</a></div>
                    <div class="row"> <a href="/sign-up" class="btn onesideround" style="margin-left: -20px;">SIGN UP</a></div>
                    
                        <img src="/static/images/starter.png" alt="Image" style="width: 400px; height:400px; margin-top: -4px;" class="right">
                        <h1 style="font-family: 'Dancing Script',cursive; font-size: 35px; color: #e0dd21; padding-top: 70px;">Welcome folks!</h1>
                <p style="font-family: 'Dancing Script',cursive;font-size: 25px; width: 45%; color: #e0dd21;">Alag is a web application which exemplifies an effort
                    to assist students in conneting with their peers and assisting with their academic life. It provides
                    a platform for students to ccommunicate and interact with one another through microblogs, acquire
                    book recommendations for their related course field, and access academic calendar.</p>
                
                </div>
                
                
                <br>
                <!-- ============================================================== -->
                <!-- Container fluid scss in scafholding.scss -->
                <!-- ============================================================== -->
                <footer class="center-align m-b-30">All Rights Reserved by ALAG. Designed and Developed by Alefiyah
                    Sanawadwala. Vidhi Gupta. Aditi Agwan. Riddhi Hedaoo.</footer>
            </div>
            <!-- ============================================================== -->
            <!-- Page wrapper scss in scafholding.scss -->
            <!-- ============================================================== -->
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- All Required js -->
    <!-- ============================================================== -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/materialize.min.js"></script>
    <script src="/static/js/perfect-scrollbar.jquery.min.js"></script>
    <!-- ============================================================== -->
    <!-- Apps -->
    <!-- ============================================================== -->
    <script src="/static/js/app.js"></script>
    <script src="/static/js/app.init.mini-sidebar.js"></script>
    <script src="/static/js/app-style-switcher.js"></script>
    <!-- ============================================================== -->
    <!-- Custom js -->
    <!-- ============================================================== -->
    <script src="/static/js/custom.min.js"></script>
    <!-- ============================================================== -->
    <!-- This page plugin js -->
    <!-- ============================================================== -->
    <script src="/static/js/dashboard1.js"></script>
</body>

</html>